body {
	background-image: url(bg2.jpg);
	/*background-size: cover;*/
	margin: 0;
	color: white;
}

.name {
	font-family: 'Lobster', cursive;
	padding-top: 50px;
	margin: auto;
	width: 450px;
	font-size: 4em;
}

.btn {
	font-family: 'Open Sans', sans-serif;
	margin-top: 5%;
	width: 33%;
	display: inline-block;
	text-align: center;
	font-size: 2.5em;
}

.about {
	font-family: "Open Sans", sans-serif;
	margin-top: 3%;
	width: 60%;
	margin-left: 20%;
	font-size: 1.5em;
}

div.pic {
	height: 1000px;
	width: 800px;
	border-style: solid;
	border-width: 200px;
	border-image: url("final_s.png") 94 round round;
}